body {
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    background-color: rgb(211, 209, 209);
    font-size: 25px;
    font-weight: bold;
}

main {
    height: auto;
    margin: 1rem 0 0 2rem;
}

.form-line {
    line-height: 2rem;
    padding: .5rem 0 .5rem 0;
    position: relative;
}

input {
    height: 1.2rem;
}

.full-line {
    width: 95%;
}

.form-line.split-space {
    display: flex;
    flex-direction: row;
}

.split-space {
    flex: auto;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

img {
    width: 15px;
}

#submit {
    background-color: rgb(57, 57, 216);
    color: white;
    padding: .5rem .7rem .5rem .7rem;
    border-radius: .5rem;
    font-weight: bold;
}

.warning-input {
    border-color: red;
}

.warning-text {
    position: absolute;
    color: red; 
    margin: 0;
}